<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<!-- <a href="javascript:fun();"> jerer</a> -->
<script type="text/javascript">

// 		var num1 = 10
// var num2 = 12
// var num3 = 141
// var largest;

// // check the condition
// if(num1 >= num2 && num1 >= num3) {
//     largest = num1;
// }
// else if (num2 >= num1 && num2 >= num3) {
//     largest = num2;
// }
// else {
//     largest = num3;
// }

// var a =1;
function fun()
{   a=[1,2,4]
	// console.log(a);
	 
	// console.log(a);
}
function fun1()
{
	console.log(a);
	 a[5]=10;
	 for (var i=0;i<a.length;i++)
	 {
	console.log(a[i]);
	// // console.log("a");
     }
}
fun();
fun1();

// let res={name:"MAhesh", last:"Biht", 
//     display:function(){
// 	console.log(`Name ${res.name} Last ${res.last}`)}
//       }

// res.display()
// display the result
// console.log("The largest number is " + largest);

